.text-shadow{
  text-shadow:0 0 1.5rem 1rem gray;
}

divider{
  height:10px;
  background-color:whitesmoke;
}

.alaska-image{
  background-image: url(./ak-mtn.jpg);
  background-size: cover;
}

header{
  height: 600px;
}

.ak-map{
  background-image: url(https://m.media-amazon.com/images/I/81LrGPsVi+L._AC_SL1200_.jpg);
  background-size: cover;
}

map{
  height: 600px;
}

.white:hover{
  box-shadow: 0 0 1.5em 1em white;
}